<div class="container">
  <h2>入力情報の確認</h2>
  <div class="signup-confirm rounded mt-5">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <p><%= f.label :email %><%= f.email_field :email, value: @user.email, readonly: true %></p>
    <p><%= f.label :password %><%= f.password_field :password, value: @user.password, readonly: true %></p>

     <%= f.fields_for :profile, @profile do |profile_fields| %>
      <p><%= profile_fields.label :name, "お名前" %><%= profile_fields.text_field :name, value: @user.profile.name, readonly: true %></p>
      <p><%= profile_fields.label :address, "ご住所" %><%= profile_fields.text_field :address, value: @user.profile.address, readonly: true %></p>
      <p><%= profile_fields.label :phoneNumber, "電話番号" %><%= profile_fields.text_field :phoneNumber, value: @user.profile.phoneNumber, readonly: true %></p>
      <p><%= profile_fields.label :birthday, "生年月日" %><%= profile_fields.text_field :birthday, value: @user.profile.birthday, readonly: true %></p>
      <p><%= profile_fields.label :breedingExperience, "飼育経験年数" %><%= profile_fields.text_field :breedingExperience, value: @user.profile.breedingExperience, readonly: true %></p>
    <% end %>

    <%= f.submit "登録", class: "btn btn-lg comfirm-btn btn-block" %>
    <%= f.submit "修正する", name: :back, class: "btn btn-lg comfirm-back-btn btn-block mt-1" %>


  <% end %>
  </div>
</div>
