<h2>Sign up</h2>

<%= form_with model: @user, url: users_sign_up_confirm_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "someone@example.com" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
  </div>

  <div class="field">
    <%= f.label "確認用パスワード" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password" %>
  </div>

    <%= f.fields_for :profile do |profile_fields| %>
      <div class="field">
      <%= profile_fields.label :name, "氏名" %><br />
      <%= profile_fields.text_field :name, autocomplete: "name", placeholder: "山田太郎" %>
      </div>

      <div class="field">
      <%= profile_fields.label :address, "ご住所" %><br />
      <%= profile_fields.text_field :address, autocomplete: "address", placeholder: "東京都新宿区西新宿２丁目８−１" %>
      </div>

      <div class="field">
      <%= profile_fields.label :phoneNumber, "電話番号" %><br />
      <%= profile_fields.text_field :phoneNumber, autocomplete: "phone_number", placeholder: "01234567890" %>
      </div>

      <div class="field">
      <%= profile_fields.label :birthday, "生年月日" %><br />
      <%= profile_fields.date_field :birthday, autocomplete: "birthday" %>
      </div>

      <div class="field">
      <%= profile_fields.label :breeding_experience,"飼主経験" %><br />
      <%= profile_fields.text_field :breedingExperience, autocomplete: "breeding_experience", placeholder: "犬５年、猫１年など" %>
      </div>
    
    <% end %>


  <div class="actions">
    <%= f.submit "登録内容確認" %>

  </div>
<% end %>

<%= render "devise/shared/links" %>
