<h1>里親募集</h1>



<div class="form-signup rounded mt-5">
  <%= form_with model: @pet, url: pets_path, local: true, multipart: true do |f| %>
    <%= fields_for @pet_images do |img| %>
      <div class="form-label">
        <%= img.label :photos %>
        <%= img.file_field :photos, multiple: true, include_hidden: false, class: 'form-control' %>

      </div>
    <% end %>

    <div class="form-signup rounded mt-5">
      <div class="form-label">
        <%= f.label :category %>
        <%= f.select :category, Pet.categories_i18n.invert, {}, class: 'form-control' %>
      </div>

      <div class="form-label">
        <%= f.label :petname %>
        <%= f.text_field :petname, class: 'form-control' %>
      </div>

      <div class="form-label">
        <%= f.label :gender %>
        <%= f.select :gender, Pet.genders_i18n.invert, {}, class: 'form-control' %>
      </div>

      <div class="form-label">
        <%= f.label :age %>
        <%= f.number_field :age, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-label">
        <%= f.label :classification %>
        <%= f.select :classification, Pet.classifications_i18n.invert, {}, class: 'form-control' %>
      </div>


      <div class="form-label">
        <%= f.label :introduction %>
        <%= f.text_field :introduction, class: 'form-control' %>
      </div>

      <div class="form-label">
        <%= f.label :vaccination %>
        <%= f.select :vaccination, Pet.vaccinations_i18n.invert, {}, class: 'form-control' %>

      </div>

      <div class="form-label">
        <%= f.label :castration %>
        <%= f.select :castration, Pet.castrations_i18n.invert, {}, class: 'form-control' %>

      </div>

      <div class="form-label">
        <%= fields_for @pet_areas do |p| %>
          <div class="field">
            <%= p.label :pet_area %><br/>
            <%= p.collection_check_boxes(:areas, Area.all, :id, :place_name, include_hidden: false) do |area| %>
              <%= area.label { area.check_box + area.text } %>
            <% end %>
          </div>
        <% end %>
      </div>


      <div class="actions">
        <%= f.submit '登録内容確認', class: 'btn btn-lg comfirm-btn btn-block' %>
      </div>
    </div>
  <% end %>
</div>