<div class="container-fluid">
  <div class="row">
    <!-- ペット画像表示 -->
    <div class="col-6">
      <div class="row">
        <% @pet_images.each do |image| %>
          <%= image_tag image.photo.to_s, class: "col-6" %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <!-- ペット詳細情報表示 -->
      <div>
        <% if user_signed_in? && @pet.user_id == current_user.id %>
          <%= link_to 'ペット情報を編集する', edit_pet_path(@pet), class: 'btn btn-lg return-pet-edit-btn btn-block ' %>
        <% end %>
        <div class="table-responsive-sm">
          <table class="table bg-white table-bordered">
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">名前</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4"><%= @pet.petname %></td>
            </tr>
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">性別</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4"><%= @pet.gender_i18n %></td>
            </tr>
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">年齢</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4"><%= @pet.age %>才</td>
            </tr>
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">種別</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4"><%= @pet.classification_i18n %></td>
            </tr>
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">性格</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4"><%= @pet.introduction %></td>
            </tr>
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">ワクチン有無</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4"><%= @pet.vaccination_i18n %></td>
            </tr>
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">去勢有無</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4"><%= @pet.castration_i18n %></td>
            </tr>
            <tr>
              <td class="col-xs-3 col-ms-6 col-md-2 col-lg-2 bg-light">譲渡可能地域</td>
              <td class="col-xs-3 col-ms-6 col-md-4 col-lg-4">
                <% @pet_areas.each do |a| %>
                  <%= a.area.place_name %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div>
        <% if user_signed_in? && @pet.own?(current_user).blank? %>
          <% if @pet.favorite?(current_user) %>
            <%= button_to pet_favorites_path(@pet.id), method: :delete, class: 'btn favorite-btn-off' do %>
              <div class='favorite-registration-part-off'>
                <span class='star-non'>☆</span> <span class='favorite-text'>気になるリストから削除</span>
              </div>
            <% end %>
          <% else %>
            <%= button_to pet_favorites_path(@pet.id), data: { turbo_method: :post }, class: 'btn btn favorite-btn-on' do %>
              <div class='favorite-registration-part-on'>
                <span class='star'>★</span> <span class='favorite-text'>気になるリストに追加</span>
              </div>
            <% end %>
          <% end %>
          <div class='text-center mt-1'>
            <% unless @pet.user_id == current_user.id %>
              <%= link_to 'ペット飼い主にメッセージを送る', pet_rooms_path(pet_id: @pet.id), data: { turbo_method: :get }, class: "btn btn to_owner_send_mail" %>
          <% end %>
            <p><span class='send-mail-info-text'>*メッセージ機能を利用するには会員登録が必要です</span></p>
          </div>
        <% end %>
      </div>
    </div>
    <!-- ペット詳細情報表示 end -->
  </div>
</div>