<div class="container">
  <div class="row">
    <%= render partial: 'layouts/shared/sidebar_html' %>
    <!-- 投稿pet一覧 -->
    <div class="col-9">
      <!-- メッセージ着信を表示する -->
      <% if @has_unread_messages %>
        <div class="alert alert-light text-red">
          新着メッセージがあります。
        </div>
      <% else %>
        <div class="alert alert-light">
          <p> お知らせはありません。</p>
        </div>
      <% end %>
      <!-- ここまで -->

      <div>
        <h2>掲載中の里親募集</h2>
        <div class="row">
          <% @user_pets.each do |pet| %>
            <div class="col-4">

              <div class="card my-2">
                <% if pet.pet_images.present? %>
                  <%= image_tag pet.pet_images.first.photo.to_s, class: 'card-img-top' %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= pet.petname %></h5>
                  <p><%= pet.classification_i18n %>/<%= pet.age %>才/<%= pet.gender_i18n %></p>
                  <h5 class="card-title">譲渡可能地域</h5>
                  <% pet.pet_areas.each do |a| %>
                    <%= a.area.place_name %>
                  <% end %>
                  <p class="card-text"><%= pet.introduction %></p>
                  <%= link_to 'ペット詳細情報を確認', pet_path(pet.id), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- 投稿pet一覧 　end-->
  </div>

</div>

