<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-3 sidebar-area border border-secondary">
      <ul class="navbar-nav ">
        <hr class="sidebar-divider">
        <li class="nav-item sidebar-title ">
          ダッシュボード
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
          <%= link_to 'プロフィール', edit_users_path, class: "nav-link" %>
        </li>

        <hr class="sidebar-divider">
        <li class="nav-item">
          <%= link_to 'メッセージ', '#', class: "nav-link" %>
        </li>
        <hr class="sidebar-divider">

        <li class="nav-item">
          <%= link_to '里親募集', new_pet_path, class: "nav-link" %>
        </li>
        <hr class="sidebar-divider">
      </ul>
    </div>
    <!-- Sidebar end -->
    <!-- 投稿pet一覧 -->
    <div class="col-9">
      <div>
        <h2>掲載中の里親募集</h2>
        <div class="row">
          <% @user_pets.each do |pet| %>
            <div class="col-4">

              <div class="card my-2">
                <% if pet.pet_images.present? %>
                  <%= image_tag pet.pet_images.first.photo.to_s, class: 'card-img-top' %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= pet.petname %></h5>
                  <p><%= pet.classification %>/<%= pet.age %>才/<%= pet.gender %></p>
                  <h5 class="card-title">譲渡可能地域</h5>
                  <p class="card-text"><%= pet.introduction %></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- 投稿pet一覧 　end-->
  </div>

</div>
