<div class="container-fluid mx-auto">

  <div class="row col-11 mx-auto">
    <!-- 標準カラーのサイドバー -->
    <%= render 'layouts/shared/sidebar_html'%>
    <!-- /標準カラーのサイドバー -->

    <!-- 管理者 里親募集ー一覧画面 -->
    <div class="col-md-8">
      <h1>里親募集</h1>

      <table class="text-center">
        <thead>
        <tr>
          <th>名前</th>
          <th>ステータス</th>
          <th>カテゴリ</th>
          <th>ユーザー</th>
          <th>登録日時</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% @pets.each do |pet| %>
          <tr>
            <td>
              <%= image_tag pet.pet_images.first.photo.to_s, class: "img-thumbnail-h60" %>
              <%= pet.petname %>
            </td>
            <td><%= pet.recruitment_status %></td>
            <td><%= pet.user.profile.name %></td>
            <td><%= pet.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td class="d-flex justify-content-between">
              <%= link_to '詳細', '#', class: "btn btn-warning" %>
              <%= link_to '削除', admins_pet_path(pet.id), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: '本当に削除してよろしいですか？' } %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= paginate @pets, theme: 'bootstrap-5' %>
    </div>
    <!-- 管理者 ユーザー一覧画面 ここまで -->
  </div>
</div>