<div>
  <div class="row">
    <div class="col-4">
      <%= image_tag @room.pet.pet_images.first.photo.to_s, class: 'card-img-top' %>
    </div>
    <div class="col-8">
      <h5 class="card-title petname"><%= @room.pet.petname %></h5>
      <p><%= @room.pet.classification_i18n %>/<%= @room.pet.age %>才/<%= @room.pet.gender_i18n %></p>
      <p class="card-text"><%= @room.pet.introduction %></p>
      <%= render partial: 'rooms/status_button', locals: { pet: @pet, current_user: current_user } %>
    </div>
  </div>
</div>
