<div class="container">
  <div class="row">
    <%= render partial: 'layouts/shared/sidebar_html' %>
    <div class="col-9">
      <h2 class="px-lg-2"><%= "#{@recipient.profile.name}" %>さんへのメッセージ</h2>
      <div class="message-form rounded mt-5 border border-2">
        <!-- ペット情報の部分テンプレートを呼び出し -->
        <%= render partial: 'rooms/pet_info', locals: { pet: @room.pet, current_user: current_user } %>

        <!--  メッセージ送付フォーム-->
        <%= render partial: 'rooms/message_form', locals: { message: @message, room: @room } %>
      </div>

      <!-- メッセージ履歴の部分テンプレートを呼び出し -->
      <div class="mt-5">
        <%= render partial: 'rooms/message_history', locals: { all_message_exchanges: @all_message_exchanges } %>
      </div>

      <!--ページネーション-->
      <%= paginate @all_message_exchanges, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
