<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= javascript_importmap_tags %>
</head>

  <body>
    <% if request.fullpath.include?('/admin') || admin_signed_in? %>
      <%= render 'layouts/shared/admins_header' %>
    <% else %>
      <%= render 'layouts/shared/header' %>
    <% end %>
    <div class="mt-5">
      <%= render 'layouts/shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
