<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand navbar-light ">
        <div class="container-fluid nab-color ">
        <ul class="navbar-nav nav-">

          <li class="nav-item active ">
            <p>ZeroWanApp</p>
          </li>

          <li class="nav-item active">
            <%= link_to 'トップ', root_path %>
          </li>

          <li class="nav-item active">
            <%= link_to 'このサイトについて', root_path %>
          </li>

          <% if user_signed_in? %>
          <li class="nav-item active">
            <strong><%= link_to current_user.email, '#' %></strong>
          </li>
            <li class="nav-item active">
            <%= link_to 'プロフィール変更', edit_user_path(current_user) %>
          </li>
            <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
            </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to '会員登録', new_user_registration_path %>
            </li>
            <li class="nav-item active">
            <%= link_to 'ログイン', new_user_session_path %>
            </li>
          <% end %>
          </div>
        </nav>

      </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
